/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../images/dark_brick_wall.png");
  background-color: #cccccc;
  background-attachment: fixed;
}

div {
  /*border: 1px solid black;*/
  /*background-color: #eeeeee;*/
}

.container {
  margin-top: 25px;
  margin-bottom: 10px;
}

.Logo {
  background-image: url("../images/Placeholder.png");
  height: 100px;
}

.Header {
  background-color: #eeeeee;
  margin-top: 50px;
  height: 50px;
  padding: 5px;
  vertical-align: auto;
  font-size: 20px;
}

.Login {
  background-color: #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 5px;

}

.Body {
  background-color: #eeeeee;
}

.Footer {
  background-color: #cccccc;
  min-height: 100px;
  border: 10px solid transparent;
}

.login_field {
  width: 100%;
}

.pw_reset {
  font-size: 10px;
  text-align: center;
  padding-left: 10px;
  color: #ffffff;
}

.pw_reset:hover {
    color: #bbbbbb;
}

.email_icon:hover {
    color: #bbbbbb;
}

.gameEntry {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.post {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.contact_info {
   padding-left: 25px;
}

/*---------------------------------------*/

#contact_img {
  background-image: url("../images/Placeholder.png");
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 10px;
}

#login_tools {
    background-image: url("../images/dark_brick_wall.png");
    border-radius: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#current_user {
  font-size: 14px;
}

#Facebook_icon {
  background-image: url("../images/Facebook_icon.png");
  height: 48px;
  width: 48px;
  float: left;
}

#LinkedIn_icon {
  background-image: url("../images/Linked_In_Icon.png");
  height: 48px;
  width: 48px;
  float: left;
}

#Github_icon {
  background-image: url("../images/Git_Hub_Icon.png");
  height: 48px;
  width: 48px;
  float: left;
}

#email_icon {
  background-image: url("../images/Email_Icon.png");
  height: 48px;
  width: 48px;
  float: left;
}

#footer_text {
  padding-top: 15px;
  float: left;
  padding-right: 5px;
}

